.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap; /* 允許換行以適應小螢幕 */
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 將內容對齊到左邊 */
    min-width: 300px; /* 設定最小寬度 */
}

.image-container img {
    width: 100%;
    max-width: 100%; /* 確保圖片在小螢幕上不會超出容器 */
    height: auto; /* 保持圖片比例 */
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px; /* 設定最小寬度 */
}

.training-section {
    margin-bottom: 20px;
}

label {
    font-size: 1.5rem; /* 使用相對單位 */
}

select {
    font-size: 1.2rem; /* 使用相對單位 */
}

.resultTable {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* 確保表單組件佔滿可用空間 */
}

    .form-group > label {
        margin-right: 10px;
        white-space: nowrap;
    }

.form-group-inline {
    display: flex;
    align-items: center;
}

    .form-group-inline > label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .form-group-inline .form-control {
        width: auto;
        flex-grow: 1; /* 使輸入框填滿剩餘空間 */
        max-width: 200px; /* 設定最大寬度以防止過長 */
    }
