.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 將內容對齊到左邊 */
}

.image-container img {
    width: 100%;
    max-width: 400px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.training-section {
    margin-bottom: 20px;
}

label {
    font-size: 30px;
}

select {
    font-size: 20px;
}

.resultTable {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .form-group > label {
        margin-right: 10px;
        white-space: nowrap;
    }

.form-group-inline {
    display: flex;
    align-items: center;
}

    .form-group-inline > label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .form-group-inline .form-control {
        width: auto;
        flex-grow: 1; /* 使輸入框填滿剩餘空間 */
        max-width: 200px; /* 設定最大寬度以防止過長 */
    }
