#trainingMonitoringTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

    #trainingMonitoringTable th,
    #trainingMonitoringTable td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
        word-wrap: break-word;
        overflow: hidden;
    }

    #trainingMonitoringTable th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    #trainingMonitoringTable select,
    #trainingMonitoringTable input {
        min-width: 100px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
    }

    #trainingMonitoringTable th:nth-child(1),
    #trainingMonitoringTable td:nth-child(1) {
        min-width: 180px;
    }

    #trainingMonitoringTable th:nth-child(2),
    #trainingMonitoringTable td:nth-child(2) {
        min-width: 200px;
    }

    #trainingMonitoringTable th:nth-child(3),
    #trainingMonitoringTable td:nth-child(3) {
        min-width: 150px;
    }

    #trainingMonitoringTable th:nth-child(4),
    #trainingMonitoringTable td:nth-child(4) {
        min-width: 260px;
    }

    #trainingMonitoringTable th:nth-child(5),
    #trainingMonitoringTable td:nth-child(5) {
        min-width: 180px;
    }

    #trainingMonitoringTable th:nth-child(6),
    #trainingMonitoringTable td:nth-child(6) {
        min-width: 260px;
    }

    #trainingMonitoringTable th:nth-child(7),
    #trainingMonitoringTable td:nth-child(7) {
        min-width: 200px;
    }

    #trainingMonitoringTable th:nth-child(8),
    #trainingMonitoringTable td:nth-child(8) {
        min-width: 180px;
    }

    #trainingMonitoringTable th:nth-child(9),
    #trainingMonitoringTable td:nth-child(9) {
        min-width: 150px;
    }

    #trainingMonitoringTable th:nth-child(10),
    #trainingMonitoringTable td:nth-child(10) {
        min-width: 200px;
    }

    #trainingMonitoringTable th:nth-child(11),
    #trainingMonitoringTable td:nth-child(11) {
        min-width: 120px;
    }

td, th {
    white-space: nowrap; 
}

.btn {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px;
}

.add-row, .remove-row {
    width: 35px;
}
