@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/img/favicon.svg" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LoginCss/LoginLayoutStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="login-wrapper">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>