@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/AthleticCaculate.js"></script> @*田徑計算*@
    <script src="~/Scripts/BikeCalculate.js"></script> @*自由車計算*@
    <script src="~/Scripts/TreadmillCaculate.js"></script> @*跑步機計算*@
    <script src="~/Scripts/SwimmingPoolCaculate.js"></script> @*泳池計算*@
    <script src="~/Scripts/RollerSkatingCaculate.js"></script> @*滑輪溜冰計算*@
    <script src="~/SweetAlert2/sweetalert.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    @*<script src="~/SweetAlert2/sweetalert2@11.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="~/css/dashboardStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>體能與肌力訓練處方系統</title>
    <style>
        .swal2-container {
            z-index: 10000 !important;
        }

        .countdown-timer {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <div style="text-align: right; padding: 10px;">
            <form action="/Account/Logout" method="post" style="display: inline;">
                <label style="font-size:20px; margin-right: 10px;">目前登入者: @User.Identity.Name</label>
                <button type="submit" class="btn btn-warning">登出</button>
            </form>
        </div>
        <div class="countdown-timer" id="countdownTimer"></div>
        @RenderBody()
    </div>
</body>
</html>
