@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.svg" />
    <title>體能與肌力訓練處方系統</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
