@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/img/favicon.svg" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="~/css/dashboardStyle.css" rel="stylesheet" />
    <link href="~/FlatPickr/flatpickr.min.css" rel="stylesheet" />
    <script src="~/FlatPickr/flatpickr.js"></script>
    <script src="~/FlatPickr/zh-tw.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/AthleticCaculate.js"></script> @*田徑計算*@
    <script src="~/Scripts/BikeCalculate.js"></script> @*自由車計算*@
    <script src="~/Scripts/TreadmillCaculate.js"></script> @*跑步機計算*@
    <script src="~/Scripts/SwimmingPoolCaculate.js"></script> @*泳池計算*@
    <script src="~/Scripts/RollerSkatingCaculate.js"></script> @*滑輪溜冰計算*@
    <script src="~/SweetAlert2/sweetalert.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2@11.js"></script>
    <title>體能與肌力訓練處方系統</title>
    <style>
        .swal2-container {
            z-index: 10000 !important;
        }

        .countdown-timer {
            font-size: 24px;
            font-weight: bold;
        }

        .button-container {
            text-align: right; /* 將按鈕靠右對齊 */
            padding: 10px 0; /* 增加上下內邊距 */
        }
    </style>
</head>
<body>
    <div>
        <div style="text-align: right; padding: 10px;">
            <form action="/Account/Logout" method="post" style="display: inline;">
                <label style="font-size:20px; margin-right: 10px;">目前登入者: @User.Identity.Name</label>
                <button type="submit" class="btn btn-warning">登出</button>
            </form>
        </div>

        <!-- 運動員或教練登入後顯示編輯個人資料按鈕 -->
        <div class="button-container">
            @if (User.Identity.IsAuthenticated)
            {
                if (Session["UserRole"]?.ToString() == "Athlete")
                {
                    <a href="@Url.Action("AthleteEdit", "Account")" class="btn btn-primary">
                        編輯個人資料
                    </a>
                }
                else if (Session["UserRole"]?.ToString() == "Coach")
                {
                    <a href="@Url.Action("CoachEdit", "Account")" class="btn btn-primary">
                        編輯個人資料
                    </a>
                }
            }
        </div>

        @*<div class="countdown-timer" id="countdownTimer"></div>*@ @*倒數計時功能-未開放*@

        @RenderBody()
    </div>
</body>
</html>
