@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/img/favicon.svg" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link href="~/css/dashboardStyle.css" rel="stylesheet" />
    <link href="~/FlatPickr/flatpickr.min.css" rel="stylesheet" />
    <script src="~/FlatPickr/flatpickr.js"></script>
    <script src="~/FlatPickr/zh-tw.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/js/AthleticCaculate.js"></script>
    <script src="~/js/BikeCalculate.js"></script>
    <script src="~/js/TreadmillCaculate.js"></script>
    <script src="~/js/SwimmingPoolCaculate.js"></script>
    <script src="~/js/RollerSkatingCaculate.js"></script>
    <script src="~/SweetAlert2/sweetalert.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2@11.js"></script>
    <title>運動RPE訓練衝量監控系統</title>
    <style>
        .swal2-container {
            z-index: 10000 !important;
        }

        .countdown-timer {
            font-size: 24px;
            font-weight: bold;
        }

        .button-container {
            text-align: right;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <div>
        <div style="text-align: right; padding: 10px;">
            <form action="/Account/Logout" method="post" style="display: inline;">
                <label class="login-user" style="font-size:20px; margin-right: 10px;">目前登入者: @User.Identity.Name</label>
                <button type="submit" class="btn btn-warning">登出</button>
            </form>
        </div>

        <div class="button-container">
            @if (User.Identity.IsAuthenticated)
            {
                if (Session["UserRole"]?.ToString() == "Athlete")
                {
                    <a href="@Url.Action("AthleteEdit", "Account")" class="btn btn-primary">
                        編輯個人資料
                    </a>
                }
                else if (Session["UserRole"]?.ToString() == "Coach")
                {
                    <a href="@Url.Action("CoachEdit", "Account")" class="btn btn-primary">
                        編輯個人資料
                    </a>
                }
            }
        </div>
        @RenderBody()
    </div>
</body>
</html>

<script>
    // 每 58 分鐘向伺服器發送 KeepAlive 請求
    setInterval(function () {
        fetch('/Account/KeepAlive')
            .then(response => {
                if (!response.ok) {
                    console.warn('KeepAlive 失敗');
                }
            })
            .catch(err => console.error('KeepAlive 錯誤:', err));
    }, 58 * 60 * 1000); // 58分鐘
</script>