@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/SweetAlert2/sweetalert.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
    @*<script src="~/SweetAlert2/sweetalert2@11.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.svg" />
    <title>體能與肌力訓練處方系統</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
