@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登入</title>
    <link href="~/css/registerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.svg" />
</head>
<body>
    <div class="login-container">
        <div class="text-center">
            <img src="~/img/logo.svg" alt="Logo" style="height: 45px; width: 100%;">
        </div>
        <form action="/Account/Login" method="post">
            <div class="form-group">
                <label for="Account">帳號</label>
                <input type="text" class="form-control" id="account" name="account" placeholder="請輸入帳號" required>
            </div>
            <div class="form-group">
                <label for="Password">密碼</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="請輸入密碼" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">登入</button>
        </form>
        <div class="text-center mt-3">
            <a href="/Account/Register">註冊帳號</a>
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <hr>
        <div class="text-center">
            <a href="/Account/ForgotPassword" class="btn btn-link">忘記密碼-教練使用</a>
        </div>
        <div class="text-center">
            <a href="/Account/ForgotPwd" class="btn btn-link">忘記密碼-學生使用</a>
        </div>
    </div>
</body>
</html>