@model PhysicalFit.Models.ResetPwdViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重置密碼</title>
    <link href="~/css/registerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.svg" />
</head>
<body>
    @using (Html.BeginForm("ResetPwd", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            <label for="NewPassword">新密碼</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">確認新密碼</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
        </div>

        <button type="submit" class="btn btn-primary">重置密碼</button>
    }
</body>
</html>