@model List<string>
@{
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/AthleticCaculate.js"></script> @*田徑場計算公式*@
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- 卡片：檢測系統詳情 -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>有/無氧代謝能力測定：<span id="selectedSportItem"></span></h4>
                        <p>測3-4種距離的力竭時間。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- 卡片：數據表格 -->
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>距離(m)</th>
                                    <th>力竭時間(s)</th>
                                    <th>速度(km/h)</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">
                                @foreach (var distance in Model)
                                {
                                    <tr>
                                        <td>@distance</td>
                                        <td><input type="text" class="form-control exhaustion-time" data-distance="@distance" oninput="calculateSpeed(this)" /></td>
                                        <td><span class="speed-result"></span></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><i>r</i><sup>2</sup></td>
                                    <td colspan="2"><input type="text" id="calculationResult" class="form-control" readonly /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>