@model List<string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/SwimmingPoolCaculate.js"></script> @*游泳計算公式*@
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h4>有/無氧代謝能力測定：<span id="selectedSportItem"></span></h4>
                        <p>測3-4種距離的力竭時間。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end" style="margin-top:20px;">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>距離(m)</th>
                                    <th>力竭時間(s)</th>
                                    <th>速度(km/h)</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">
                                @foreach (var distance in Model)
                                {
                                    <tr>
                                        <td>@distance</td>
                                        <td>
                                            <input type="text" class="swim-time" data-distance="@distance" oninput="calculateSpeed(this)" />
                                        </td>
                                        <td class="swim-speed"></td>
                                    </tr>
                                }
                            </tbody>
                            <tr>
                                <td><i>r</i> <sup>2</sup></td>
                                <td colspan="2">
                                    <input type="text" id="calculationResult" class="form-control" readonly />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>