@model List<string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/TreadmillCaculate.js"></script> @*跑步機計算公式*@
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
</head>
<body>
    <form id="dataForm">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h4>有/無氧代謝能力測定：<span id="selectedSportItem"></span></h4>
                            <p>先測最大跑速，再測3~4種次最大跑速下的力竭時間</p>
                        </div>
                        <div class="card-body">
                            <label for="MaxSpeed">最大跑速(km/h)：</label>
                            <input id="MaxSpeed" type="text" class="form-control" placeholder="請輸入最大跑速" oninput="CaculateTreadmillSpeed()" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end" style="margin-top:20px;">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>強度百分比</th>
                                        <th>力竭時間(s)</th>
                                        <th>速度(km/h)</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable">
                                    @foreach (var distance in Model)
                                    {
                                        <tr>
                                            <td>
                                                @distance
                                            </td>
                                            <td>
                                                <input type="text" class="form-control Tread-time" data-distance="@distance" oninput="calculateSpeed(this)" />
                                            </td>
                                            <td class="tread-speed"></td>
                                        </tr>
                                    }
                                </tbody>
                                <tr>
                                    <td><i>r</i> <sup>2</sup></td>
                                    <td><input type="text" id="calculationResult" class="form-control" readonly /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>