@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>帳號註冊</title>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <link href="~/css/registerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MainBkStyle.css" rel="stylesheet" />
    @*<script src="~/Scripts/RegisterSet.js"></script>*@
    <link rel="icon" href="~/img/favicon.svg" />
</head>
<body>
    <div class="register-container">
        <div class="text-center">
            <img src="~/img/logo.svg" alt="Logo" style="height: 45px; width: 100%;">
        </div>
        <form id="roleForm">
            <div class="form-group">
                <label for="Role">身分角色</label>
                <select class="form-control" id="Role" name="Role" required>
                    <option value="" disabled selected>請選擇角色</option>
                    <option value="Coach">教練</option>
                    <option value="Athlete">運動員</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">下一步</button>
        </form>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
<script>
    $(document).ready(function () {
        $('#roleForm').submit(function (event) {
            event.preventDefault();  // 防止表單提交
            var role = $('#Role').val();
            if (role === 'Coach') {
                window.location.href = '/PhyFit/RegisterCoach';
            } else if (role === 'Athlete') {
                window.location.href = '/PhyFit/RegisterAthlete';
            }
        });
    });
</script>
</body>
</html>
