@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friend</title>
    <script src="~/FlatPickr/flatpickr.js"></script>
    <script src="~/FlatPickr/zh-tw.js"></script>
    <link href="~/FlatPickr/flatpickr.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <input class="Pikrdate form-control" name="Pikrdate" />
    </div>
    <script>
        flatpickr(".Pikrdate", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            "locale": "zh_tw",
        });
    </script>
</body>
</html>