@{
    ViewBag.Title = "Sweet";
    Layout = "~/Views/Shared/_PhyFitness.cshtml";
}
<!-- 简化的HTML -->
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 一个按钮和模态窗口 -->
    <button type="button" id="testButton">打开模态窗口</button>

    <div id="testModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>模态窗口内容</p>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#testButton').on('click', function () {
                console.log('按鈕點擊');
                $('#testModal').show();
                console.log('顯示模擬視窗');
            });

            $('.close').on('click', function () {
                console.log('關閉模擬視窗');
                $(this).closest('.modal').hide();
            });
        });
    </script>
</body>
</html>
